<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Wild Error Appeared!</title>
    <link rel="stylesheet" href="css/404.css" />
  </head>
  <body>
    <div class="container">
      <h1>404</h1>

      <img
        src="images/psyduck.png"
        alt="Confused Psyduck"
        class="psyduck-img"
      />

      <div class="dialogue-box">
        <div class="dialogue-header">
          <strong>Wild 404 Not Found appeared!</strong>
        </div>
        <dialogue-content>
          <p>
            It looks confused... <br />
            "Gyaa?"<br /><br />
            The page you are looking for ran away!<br />
            There is nothing left here but water.
          </p>
        </dialogue-content>

        <a href="/" class="button">USE [HOME BUTTON]</a>
      </div>
    </div>
  </body>
</html>
